<body>
    {{#if user}}
        <h3 style="margin-top: 25px; color: white" class="text-center">Bienvenido, 
            <strong>
                {{user.first_name}} {{user.last_name}}
                <a style="background-color: #ff6600; color: white; padding: 10px 20px; border-radius: 6px; border: 1px solid #ff6600; margin-left: 10px" href="/profile" class="btn btn-info">Perfil</a>
            </strong>
        </h3>
    {{else}}
        <p>
            Inicia sesión para poder comprar!
            <a href="/login" class="btn btn-info">Iniciar</a>
        </p>
    {{/if}} 
    <div id="cart" data-cart-id="{{cart._id}}" class="container mt-5">
        <h3 style="color:white" class="text-center">Carrito ID: {{cart._id}}</h3>
        {{#if cart.products.length}}
            <div style="color: white" class="row mt-4">
                <div class="col">
                    <table class="table">
                        <thead>
                            <tr style="color:white">
                                <th scope="col"></th>
                                <th scope="col">Producto</th>
                                <th scope="col">Descripción</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Cantidad</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{!-- {{#each cart.products}}
                            <tr style="color: white">
                                <td>
                                    <a href="/products/{{product._id}}">
                                        <img class="cartImage" src="{{this.product.thumbnail}}" alt="{{this.product.description}}">
                                    </a>
                                    
                                </td>
                                <td>{{this.product.title}}</td>
                                <td>{{this.product.description}}</td>
                                <td>${{this.product.price}}</td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <span class="mx-2">{{this.quantity}}</span>
                                    </div>
                                </td>
                                <td>
                                    <button style="background-color: #ff6600; color: white; padding: 10px 20px; border-radius: 6px; border: 1px solid #ff6600" type="button" class="btn" onclick="removeFromCart('{{../cart._id}}', '{{this.product._id}}')">Eliminar</button>
                                </td>
                            </tr>
                            {{/each}} --}}

                            {{#each cart.products}}
<tr style="color: white">
    <td>
        <a href="/products/{{product._id}}">
            <img class="cartImage" src="{{this.product.thumbnail}}" alt="{{this.product.description}}">
        </a>
    </td>
    <td>{{this.product.title}}</td>
    <td>{{this.product.description}}</td>
    <td>${{this.product.price}}</td>
    <td>
        <div class="btn-group" role="group" aria-label="Basic example">
            <span class="mx-2">{{this.quantity}}</span>
        </div>
    </td>
    <td>
        <button style="background-color: #ff6600; color: white; padding: 10px 20px; border-radius: 6px; border: 1px solid #ff6600" type="button" class="btn" onclick="removeFromCart('{{../cart._id}}', '{{this.product._id}}')">Eliminar</button>
    </td>
</tr>
{{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col text-end">
                    <a style="background-color: #ff6600; color: white; padding: 10px 20px; border-radius: 6px; border: 1px solid #ff6600" class="btn btn-info" href="/">Seguir Comprando</a>
                </div>
                <div class="col text-end">
                    <button style="background-color: #ff6600; color: white; padding: 10px 20px; border-radius: 6px; border: 1px solid #ff6600" class="btn" onclick="emptyCart('{{cart._id}}')">Vaciar carrito</button>
                </div>
            </div>
        {{else}}
            <div class="col text-end">
                <h2 class="text-center mt-4">No tienes productos en tu carrito </h2>
                <a style="background-color: #ff6600; color: white; padding: 10px 20px; border-radius: 6px; border: 1px solid #ff6600" class="btn btn-info" href="/">Seguir Comprando</a>
            </div>
        {{/if}}
    </div> 
    <script src="/js/cart.js"></script>
    <script src="/js/main.js"></script>
</body>
